<div class="container">
    <h2>Login</h2>
    <hr>
    <div>
      <form [formGroup]="loginForm">
        <div  class="form-group col-6" style="margin-left:18%;" >
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail24">
       
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword24">
        </div>
        <input type="button" style="float: right; margin-right: 50%;" class="btn btn-info" value="Login"/>
      </form>
    </div>
  
</div>